<!DOCTYPE html>
<html ng-app="hvm">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>List</title>
</head>
<body>
	<div id="header">
	     <div class="headerInner">
	         <h1><a href="" ng-click="mainView()">cdi</a></h1>
	     </div>
	     <div class="title"><strong>H</strong>ierarchical <strong>V</strong>alue <strong>M</strong>ap</div>
	</div>
	<div class="box1">
		<div style="float:right; margin-left:10px;" ng-hide="viewType == 'attribute'" >
	    	<a href=""ng-click="createAttribute()" class="btn-new-attribute">+ 새항목 추가</a>
		</div>
		<!-- <div class="menubar">
			<ul class="menuItem">
				<li><a href="#">Select</a>
					<ul>
						<li><a href="#">Value</a></li>
						<li><a href="#">Attribute</a></li>
						<li><a href="#">Activity</a></li>
					</ul>
				</li>
			</ul>
		</div> -->
		<div class="selectbox" style="float:right;"> 
			<label>{{viewType}}</label>
			<select ng-model="viewType" ng-change="changeViewType()">
			    <option value="value">value</option>
			    <option value="activity">activity</option>
			    <option value="attribute">attribute</option>
			</select>
		</div>
	</div>
	<ng-view />
</body>
</html>