<!DOCTYPE html>
<html ng-app="hvm">
<head>
	<title>hvm</title>
	<script src="../lib/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap-theme.css">
	<script>
	angular.module("hvm", [])
	.service("searchService",['$http', function($http){
		return {
			search: function(keywords) {
				console.log(keywords);
				return $http.post("http://localhost:8080/HVM/getHvmProject.sw",{"searchKey": keywords});
			}
		}
	}])
	.controller("hvmCtl", ['$scope', 'searchService', function($scope, searchService){
		$scope.search = function(){
			searchService.search($scope.keywords).then(function(response){
				console.log(response.data);
				$scope.projects = response.data;
			})
		};
	}]);
	</script>

</head>
<body ng-controller="hvmCtl">
	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">HVM</a>	
		<a type="button" class="btn btn-default navbar-btn pull-right" href="#/newAttr">new</a>
	</div>
	<div class="alert alert-danger" ng-show="data.error">
	Error ({{data.attrList.error.status}}) <a href="/hvm/index.html">try again</a>
	</div>
	<h3>Search Field</h3>
	
	<input class="form-control field span12" id="objctf" rows="4" ng-model="keywords" ng-change="search()"  placeholder="Search by RealTime"/>
	<div class="input-group">
      <input type="text" class="form-control" ng-model="keywords" placeholder="Search by Button">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="search()" type="button">Go!</button>
      </span>
    </div>
	<div class="panel panel-default" ng-show="projects.length > 0">
		<div class="row">
			<div class="col-md-12 text-left">id/name</div>
			<div class="col-md-12 text-left" ng-repeat="item in projects">{{item.id}} / {{item.name}}</div>
		</div>
	</div>
</body>
</html>