
@charset "UTF-8";
/* CSS Document */

@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url("../NanumBarunGothic/stylesheet.css");

.fontbgt {font-family: 'Nanum Barun Gothic';}   /* 400, 700*/
.fontbgtl {font-family:'NanumBarunGothicLight';}

body,input,textarea,select,button,table { font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, Arial, AppleGothic, sans-serif !important; }
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{ margin: 0; padding: 0;}
ul,ol{list-style-type: none;}
a{color:#333;text-decoration:none}
a:hover,a:active,a:focus{color:#333;text-decoration:none}

body { background-color:#f5f5f5;}

#header {height:72px; background-color:#fff; margin-bottom:30px;padding:0 30px;}
#header ul li{float:left;}
#header ul .title { margin:0 auto; float:none; padding-top:20px; }
#header ul .title{ text-align:center; color:#535353; font-size:23px;}
#header ul .user{float:right; margin-top:15px;}
#header ul .user span{font-size:14px; color:#535353; float:inherit; margin:16px 0 0 10px;}
.userProfileImg { width:40px; height:40px; border-radius: 50%;}
.userProfileImgSmall { width:30px; height:30px; border-radius: 50%;}

#header .logout {position:absolute; top:35px; right:30px; border:1px solid #e1e1e1; padding:5px; background:#ffffff;border-radius:7px;}

#contents { padding:0 30px;}



/* #contents_top {float:right; margin-bottom:40px;}
#contents_top .search { float:right }
#contents_top .search input{width:500px; height:38px; border-radius:7px; background:#e7eaee; margin-right:40px; border:1px solid #e7eaee; padding-left:40px; font-size:15px; color:#666}  
#contents_top .search input:focus{border:1px solid #d1e701; outline:none;}
#contents_top .search img { margin:12px 0 0 13px; position:absolute;} */



/* #contents_top .select-list { float:right;}
#contents_top .select-list select { clear:both; border:1px solid #e1e1e1; width: 150px; height: 38px;  font-size:15px; color:#666;} */

/*
#contents_top .select-hidden {display: none; visibility: hidden; padding-right: 10px;}
#contents_top .select-styled { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #fff; padding: 6px 15px;}
#contents_top .select-styled:after {content: ""; width: 0;height: 0;border: 6px solid transparent; border-color: #898989 transparent transparent transparent; position: absolute; top: 12px; right: 10px;}
#contents_top .select-styled:hover { background-color: #f4f4f4;}
#contents_top .select-styled:active, .select-styled.active { background-color: #fff; }
#contents_top .select-styled:active:after, .select-styled.active:after { top: 9px; border-color: transparent transparent #fff transparent;}

#contents_top .select-options {display: none; position: absolute; top: 100%; right: 0; left: 0;  z-index: 999; margin: 0; padding: 0;list-style: none; background-color: #e7eaee;}
#contents_top .select-options li { margin: 0; padding: 9px 0; text-indent: 15px; border-top: 1px solid #e1e1e1;}
#contents_top .select-options li:hover { color: #222186; background: #fff;}
#contents_top .select-options li[rel="hide"] { display: none;} */

#contents_top .btn{  margin-left:15px; float:right;}

[class*='btn-'] {border-radius: 4px; color: #fff; display: inline-block; font-family: Arial, Helvetica, sans-serif;	font-size: 14px;padding: 10px 16px 10px 16px; text-decoration: none; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);}
	  
[class*='btn-']:hover {	cursor: pointer; color:#fff;}

.btn-add { background-color:#7676b2; color:#fff;}
.btn-add:hover { background-color:#5a5a94; color:#fff;}
.btn-add:active { background-color:#5a5a94;	color:#fff;}



