@charset "UTF-8";
/* CSS Document */


#contents_bottom {clear:both; width:100%;}
#contents_bottom .box_header {height:49px; background-color:#cbe000; margin-top:40px; padding-right:10px;}

#contents_bottom .box_header img { float:left;}
#contents_bottom .box_header .preparingPerson { float:right; }
#contents_bottom .box_header .preparingPerson img{ margin:9px 10px 0 0;}
#contents_bottom .box_header .preparingPerson ul {margin-top:8px; color:#fff; font-size:14px; display:inline-block; line-height:18px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); font-weight:lighter}

#contents_bottom .box_body { background-color:#fff; float:left; width:100%; margin-bottom:50px; }

#contents_bottom .box_body .left {float:left; margin-right:20px;}

#contents_bottom .box_body .right {overflow: hidden; margin-right:25px}

#contents_bottom .box_body .pss ul { margin:25px; }
#contents_bottom .box_body .pss ul li{ float:left; margin-bottom:15px; }
#contents_bottom .box_body .pss ul .project{ font-size:15px; color:#8b8a8a; margin-right:15px;}
#contents_bottom .box_body .pss ul .p_name { font-size:17px; color:#333}

#contents_bottom .box_body .pss .explain {width:370px; height:85px; border:1px solid #d7d7d7;margin:25px; padding:15px; clear:both; display:table;}
#contents_bottom .box_body .pss .explain img {width:115px; height:85px; border-radius:10px;float:left; margin-right:17px;margin-bottom:17px;}
/*#contents_bottom .box_body .pss .explain .text{font-size:17px; color:#8f8f8f; line-height:22px; display:table-cell; vertical-align:middle;​}  */
#contents_bottom .box_body .pss .explain .text{font-size:17px; color:#8f8f8f; line-height:22px; vertical-align:middle;​}

#contents_bottom .box_body .sbp table {margin:25px; border:1px #d7d7d7; border-collapse:collapse;}
#contents_bottom .box_body .sbp table tr {}
#contents_bottom .box_body .sbp table tr td {color:#333; border:1px solid #d7d7d7; font-size:15px; padding:6px; }

#contents_bottom .box_body .sbp ul { margin:25px; }
#contents_bottom .box_body .sbp ul li{ float:left; margin-bottom:15px; }
#contents_bottom .box_body .sbp ul .project{ font-size:15px; color:#8b8a8a; margin-right:15px;}
#contents_bottom .box_body .sbp ul .p_name { font-size:17px; color:#333}

#contents_bottom .box_body .list table {border:1px #d7d7d7; border-collapse:collapse; margin:30px 0;}
#contents_bottom .box_body .list table th {height:32px; background-color:#f0f0f2; font-size:18px; color:#333; font-weight:normal;}
#contents_bottom .box_body .list table td {height:28px;color:#6e6e6e; font-size:15px; font-weight:100; padding:2px 7px; }
#contents_bottom .box_body .list table tr .pn, .list table tr .sbp { text-align:center}


#contents_bottom .box_body_attr { background-color:#fff; margin-bottom:50px; padding:40px;}
#contents_bottom .box_body_attr .list table {border:1px #d7d7d7; border-collapse:collapse; width:100%;}
#contents_bottom .box_body_attr .list table th {height:32px; background-color:#f0f0f2; font-size:18px; color:#333; font-weight:normal;}
#contents_bottom .box_body_attr .list table td {height:28px;color:#6e6e6e; font-size:15px; font-weight:100; padding:2px 7px;}

#contents_bottom .box_body_attr .list table td:nth-child(2) { text-align:center;}