<div class="panel panel-default" ng-controller="newAttrCtl">
	<form name="newAttrForm" novalidate>
		<div class="well">
			<h3>PSS</h3>
			<label>pss project</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-keypress="($event.which === 13)?searchPssPrj():0" ng-model="result.pssPrj.pssPrjName" placeholder="Search PSS Project"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="searchPssPrj()" type="button">Go!</button>
				</span>
		    </div>	
			<div ng-show="pss_projects.length > 0">
				<div id="searchlist" class="list-group">
					<a class="list-group-item" href=""  ng-repeat="item in pss_projects" ng-click="clickSearchedPssPrjItem(item)"><span>{{item.pssPrjName}}</span></a>
				</div>
			</div>
			<div ng-show="pss_Values.length > 0">
				<label>value</label>
				<div>
					<select class="form-control" ng-model="result.pssValue" ng-options="item.pssValueName for item in pss_Values">
					</select>
				</div>
			</div>
			<h3>SBP</h3>
			<label>sbp project</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-keypress="($event.which === 13)?searchSbpPrj():0" ng-model="result.sbpPrj.sbpPrjName" placeholder="Search SBP Project"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="searchSbpPrj()" type="button">Go!</button>
				</span>
		    </div>	
			<div ng-show="sbp_projects.length > 0">
				<div id="searchlist" class="list-group">
					<a class="list-group-item" href=""  ng-repeat="item in sbp_projects" ng-click="clickSearchedSbpPrjItem(item)"><span>{{item.sbpPrjName}}</span></a>
				</div>
			</div>
			<div ng-show="sbp_Sbps.length > 0">
				<label>sbp</label>
				<div>
					<select class="form-control" ng-change="selectSbp()" ng-model="result.sbp" ng-options="item.sbpName for item in sbp_Sbps">
					</select>
				</div>
			</div>
			<div ng-show="sbp_Activities.length > 0">
				<label>activitys</label>
				<div class="panel panel-default">
					<div class="panel-body">
						<span ng-repeat="item in sbp_Activities">
							<input type="checkbox" data-checklist-model="result.spbActs" data-checklist-value="item">{{item.sbpActName}}
						</span>
					</div>
				</div>	
			</div>
		</div>
		<div class="well" ng-show="result.spbActs.length >0 || result.pssValue.pssValueName">
			<h3>HVM</h3>
			<div class="panel panel-default">
				<div class="panel-heading">{{result.pssValue.pssValueName}}</div>
				<div class="panel-body">
					<div class="panel panel-default" ng-repeat="item in result.spbActs">
						<div class="panel-heading">
							{{item.sbpActName}}
							<button class="pull-right" ng-click="openModal($index)">+</button>
						</div>
						<div class="panel-body">
							attribute add....
						</div>
				    </div>
				</div>
			</div>	
		</div>
		<div class="text-center">
			<button class="btn btn-default" ng-click="saveHvmAttr()">save</button>
		</div>
	</form>
</div>