<div id="contents">
	<div id="contents_top">
		<div class="btn">
			<a href="#/newProject/new" class="btn-add">+ 새항목 추가</a>
		</div>

		<div class="viewType" ng-mouseleave="showViewTypeList = false">
			<div class="selectedItem"
				ng-click="showViewTypeList = !showViewTypeList">{{selectedItem}}</div>
			<div class="selectList" ng-show="showViewTypeList">
				<div ng-repeat="item in selectItem"
					ng-click="selectViewType($index)">{{item}}</div>
			</div>
		</div>

		<div class="search">
			<img src="images/icon_search.png" ng-click="search()"/> <input name="" type="text"
				border="1" ng-model="keywords" ng-keypress="enterKeySearch($event)" />
		</div>
	</div>
	<div ng-show="showProjectList">
		<div id="contents_bottom" ng-show="!result.length">
			<div class="box_header">
			</div>
			<div class="box_body">
				<div class="box_body noresult">No Result</div>
			</div>
		</div>	
		<div id="contents_bottom" ng-repeat="project in result">
			<div class="box_header">
				<span><a href="#/newProject/{{project.pssPrjId}}"><img src="images/btn_edit.png" /></a></span> <span><a
					href=""><img src="images/btn_delete.png" ng-click="confirmRemovePopup(project)"/></a></span>

				<div class="preparingPerson">
					<img class="userProfileImgSmall"
						src="{{image_path}}{{project.createdUserObj.picture}}" />
					<ul>
						<li>{{project.createdUserObj.username}}</li>
						<li>{{project.createdDate}}</li>
					</ul>
				</div>
			</div>
			<div class="box_body">
				<div class="left">
					<div class="pss">
						<ul>
							<li class="project">PSS project</li>
							<li class="p_name">{{project.pssPrjName}}</li>
						</ul>
						<div class="explain">
							<img src="{{image_path}}{{project.pssPrjPicture}}" />
							<div class="text">
								<p>{{project.pssPrjDescription}}</p>
							</div>
						</div>
					</div>
					<div class="sbp">
						<ul>
							<li class="project">SBP</li>
						</ul>
						<table width="400" border="0" cellpadding="0" cellspacing="0">
							<tr ng-repeat="sbpGroup in project.sbpGroupList">
								<td>No.{{$index + 1}}</td><td>{{sbpGroup}}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="right">
					<div class="list">
						<table width="100%" border="1" cellpadding="0">
							<tr>
								<th width="20%" scope="col">Value</th>
								<th width="30%" scope="col">Attribute</th>
								<th width="5%" scope="col">P/N</th>
								<th width="30%" scope="col">Activity</th>
								<th width="10%" scope="col">SBP</th>
							</tr>
							<tr ng-repeat="attr in project.attributes | orderBy:'valueName'"
								" ng-init="attr.sbpIndex=getSbpGroupIndex(project,project.sbpPrjName +'_'+ attr.sbpName)">
								<td class='valueTd' ng-click="openValueViewModal(project.pssPrjId, attr.valueName)">{{attr.valueName}}</td>
								<td> {{attr.attributeName}}</td>
								<td class="pn">{{attr.attributeType}}</td>
								<td class="activityTd" ng-click="openActivityViewModal(attr)">{{attr.activityName}}</td>
								<td class="sbp sbpTd" ng-click="openSbpViewModal(attr.sbpId, attr.sbpName, project.sbpPrjName)">No.{{attr.sbpIndex + 1}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- 		<div align="center" ng-show="result.length">
			<ul class="pagination pagination-sm">
				<li><a href="">«</a></li>
				<li><a href=""
					ng-repeat="n in [].constructor(totalPages) track by $index"
					ng-click="clickPrjPageNo($index)">{{$index + 1}}</a></li>
				<li><a href="">»</a></li>
			</ul>
		</div> -->
		<div align="center" ng-show="result.length">
			<ul class="pagination pagination-sm">
				<li><a  href="" ng-click="clickPrjPrevPage()">«</a></li>
				<li><a href=""
					ng-class="getPrjPagingCountStyle(n)"
					ng-repeat="n in projectPagingCounts track by $index"
					ng-click="clickPrjPageNo(n-1)">{{n}}</a></li>
				<li><a href="" ng-click="clickPrjNextPage()">»</a></li>
			</ul>
		</div>




	</div>
	<div ng-show="showAttributeList">
		<div id="contents_bottom" ng-show="!attrResult.length">
			<div class="box_header">
			</div>
			<div class="box_body">
				<div class="box_body noresult">No Result</div>
			</div>
		</div>
		<div id="contents_bottom" ng-show="attrResult.length">
			<div class="box_header">
			</div>
			<div class="box_body_attr">
				<div class="list">
					
					<table ng-show="viewType == 'Value'" width="700" border="1" cellpadding="0">
						<tr>
							<th width="10%" class="keyColumn" scope="col">Value</th>
							<th width="20%"scope="col">Attribute</th>
							<th width="5%" scope="col">P/N</th>
							<th width="15%"scope="col">Activity</th>
							<th width="25%" scope="col">SBP</th>
							<th width="25%" scope="col">PSS Project</th>
						</tr>
						<tr ng-repeat="attribute in attrResult">
							<td class="keyColumn valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.valueName}}</td>
							<td>{{attribute.attributeName}}</td>
							<td align="center" >{{attribute.attributeType}}</td>
							<td class="activityTd" ng-click="openActivityViewModal(attribute)">{{attribute.activityName}}</td>
							<td class="sbpTd" ng-click="openSbpViewModal(attribute.sbpId, attribute.sbpName, attribute.project.sbpPrjName)">{{attribute.project.sbpPrjName}}_{{attribute.sbpName}}</td>
							<td class="valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.project.pssPrjName}}</td>
						</tr>
					</table>
					
					<table ng-show="viewType == 'Activity'" width="700" border="1" cellpadding="0">
						<tr>
							<th width="15%" class="keyColumn"  scope="col">Activity</th>
							<th width="10%"scope="col">Value</th>
							<th width="20%"scope="col">Attribute</th>
							<th width="5%"scope="col">P/N</th>
							<th width="25%"scope="col">SBP</th>
							<th width="25%"scope="col">PSS Project</th>
						</tr>
						<tr ng-repeat="attribute in attrResult">
							<td class="keyColumn activityTd" ng-click="openActivityViewModal(attribute)">{{attribute.activityName}}</td>
							<td class="valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.valueName}}</td>
							<td>{{attribute.attributeName}}</td>
							<td align="center" >{{attribute.attributeType}}</td>
							<td class="sbpTd" ng-click="openSbpViewModal(attribute.sbpId, attribute.sbpName, attribute.project.sbpPrjName)">{{attribute.project.sbpPrjName}}_{{attribute.sbpName}}</td>
							<td class="valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.project.pssPrjName}}</td>
						</tr>
					</table>
					
					<table ng-show="viewType == 'Attribute'" width="700" border="1" cellpadding="0">
						<tr>
							<th width="20%" class="keyColumn"  scope="col">Attribute</th>
							<th width="5%" scope="col">P/N</th>
							<th width="10%" scope="col">Value</th>
							<th width="15%" scope="col">Activity</th>
							<th width="25%" scope="col">SBP</th>
							<th width="25%"scope="col">PSS Project</th>
						</tr>
						<tr ng-repeat="attribute in attrResult">
							<td class="keyColumn">{{attribute.attributeName}}</td>
							<td align="center">{{attribute.attributeType}}</td>
							<td calss="valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.valueName}}</td>
							<td class="activityTd" ng-click="openActivityViewModal(attribute)">{{attribute.activityName}}</td>
							<td class="sbpTd" ng-click="openSbpViewModal(attribute.sbpId, attribute.sbpName, attribute.project.sbpPrjName)">{{attribute.project.sbpPrjName}}_{{attribute.sbpName}}</td>
							<td class="valueTd" ng-click="openValueViewModal(attribute.project.pssPrjId, attribute.valueName)">{{attribute.project.pssPrjName}}</td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
		<div align="center" ng-show="attrResult.length">
			<ul class="pagination pagination-sm">
				<li><a ng-click="clickAttrPrevPage()">«</a></li>
				<li><a href=""
					ng-class="getAttrPagingCountStyle(n)"
					ng-repeat="n in attrPagingCounts track by $index"
					ng-click="clickAttrPageNo(n-1)">{{n}}</a></li>
				<li><a href="" ng-click="clickAttrNextPage()">»</a></li>
			</ul>
		</div>
	</div>
</div>




















<!-- madal area -->

<div id="showActivityViewModal" class="modal" ng-style="activityView_modal_style">
	<div id="dragableDiv" class="modal-content" style="width:700px;height:400px">
		<div class="modalHeader">
			<span class="modalTitle">ACTIVITY</span>
			<span class="closeBtn" ng-click="closeActivityViewModal()">x</span>
		</div>
		<div class="iframe">
			<iframe refreshable="refreshActView" id="activityView" width="100%" height="340px" ng-src="{{trustSrc('activityView')}}" frameborder="0" ></iframe>
		</div>
	</div>
</div>
<div id="showSbpViewModal" class="modal" ng-style="sbpView_modal_style">
	<div class="modal-content" style="width:90%;height:90%">
		<div class="modalHeader">
			<span class="modalTitle">SBP</span>
			<span class="closeBtn" ng-click="closeSbpViewModal()">x</span>
		</div>
		<div class="iframe">
			<iframe refreshable="refreshSbpView" id="sbpView" width="100%" height="600px" ng-src="{{trustSrc('sbpView')}}" frameborder="0" ></iframe>
		</div>
	</div>
</div>
<div id="showValueViewModal" class="modal" ng-style="valueView_modal_style">
	<div class="modal-content" style="width:660px;height:70%">
		<div class="modalHeader">
			<span class="modalTitle">Value</span>
			<span class="closeBtn" ng-click="closeValueViewModal()">x</span>
		</div>
		<div>
			<iframe id="valueView" width="100%" height="400" ng-src="{{trustSrc('valueView')}}" frameborder="0" ></iframe>
		</div>
	</div>
</div>


<!-- confirm modal Area -->

<div id="confirmModal" class="modal" ng-style="confirm_modal_style">
	<div class="modal-content" style="width:30%;height:30%">
		<div class="modalHeader">
			<span class="modalTitle">{{confirmTitle}}</span>
			<span class="closeBtn" ng-click="closeConfirmModal()">x</span>
		</div>
		<div class="list">
			<span>{{confirmText}}</span>
		</div>
		<div class="modalFooter">
			<div class="btn">
				<a ng-click="closeConfirmModal()"  class="btn-cancel">취소</a>
			</div>
			<div class="btn">
				<a ng-click="confirmModal()" class="btn-save">확인</a>
			</div>
		</div>
	</div>
</div>