@charset "UTF-8";
/* CSS Document */

@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url("../fonts/stylesheet.css");

.fontbgt {font-family: 'Nanum Barun Gothic';}   /* 400, 700*/
.fontbgtl {font-family:'NanumBarunGothicLight';}

body,input,textarea,select,button,table { font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, Arial, AppleGothic, sans-serif !important; }
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{ margin: 0; padding: 0;}
ul,ol{list-style-type: none;}
a{color:#333;text-decoration:none}
a:hover,a:active,a:focus{color:#333;text-decoration:none}

body { background-color:#f5f5f5}
#header { height:72px; background-color:#fff; margin-bottom:30px;}
#header .headerInner{width:1000px;  margin:0 auto;}
#header .headerInner h1 a{width:120px; height:72px; float:left; background:url(../images/logo.png); text-indent:-999px; position:absolute}

#header .title { text-align:center; color:#535353; padding-top:20px; font-size:23px;}

#subwrap { width:1000px; margin:0 auto}

.p-attribute{margin:5px; vertical-align:middle;}
.n-attribute{margin:5px; vertical-align:middle;}


#footer { background-color:#dfdfe3; margin-top:100px; height:72px; bottom:0   }
#footer .footerInner{margin:0 auto; width:1000px;}
#footer .footerInner .footer_logo{ background:url(../images/footerLogo.png); width:90px; height:54px; float:left; margin:10px 100px 0 0;}
#footer .footerInner .copyright { font-size:14px; line-height:130%; color:#FFF; padding-top:20px;}
#footer .footerInner a  { color:#fff; text-decoration:underline}

